__pycache__/
*.egg-info/
dist/
build/
venv/
*.pyc
downloaded_data.tmp
*.json
!tests/data/*.json
!integration_test/*.json
*.png
!example/*.png
*.csv
downloaded_weather.xml
docs/_build/
docs/_generated/
*.nc
